body {
    margin: 0;
}

.box {
    width: 16rem;
    height: 22rem;
    background: #e2e2e2;
    margin: auto;
    margin-top: 3rem;
    box-shadow: 0 0 2rem 0 #0007;
    padding: 1rem;
    padding-top: 0.5rem;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #444;
    text-align: center;
}

h2 {
    text-shadow: 0 0 0.5rem #50cada;
    font-size: 1rem;
}

p {
    list-style: none;
    text-align: justify;
    line-height: 1.4;
    font-size: 1rem;
    text-shadow: 0 0 0.5rem #50cada;
}

img {
    width: 8rem;
    border-radius: 100%;
    box-shadow: 0 0 2rem 0 #0007;
    /*filter: drop-shadow(0 0 0.4rem #f92); para imagenes con fondo tranparente*/
}
