p {
    color: red;
    font-family: montserrat, 'Lucida sans';/* la fuente se usa con comillas simples si el nombre son 2 palabras*/
    font-size: 13px;
    font-weight: 100;
    font-style: italic;
    text-align: justify;
    text-decoration:  underline;
    line-height: 2;
    letter-spacing: 1px;
}
h1 {
    text-align: center;
    font-family: tahoma;
}
span {
    text-decoration: line-through;
    color:brown;
}
a {
    text-decoration: none;
}